@import "sass-material-colors";

/**
 *
 * "-light" and "-dark" suffixes denote the expected background (light or dark)
 * colors
 *
 */

/* brand colors */
$brand-blue: material-color("blue", "500");
$brand-green: material-color("teal", "500");
$brand-grey: material-color("blue-grey", "50");
$brand-alt-grey: material-color("grey", "50");
$accent: material-color("teal", "a700");

/* layout */

// prominent color use as much as u cane
$layout-primary: $brand-green;

// low contrast neutral colors
$layout-low-contrast-neutral-light: #f2f5f3;
$layout-low-contrast-neutral-dark: #343434;

// high contrast background colors
$layout-high-contrast-bg-light: #2a2a2a;
$layout-high-contrast-bg-dark: #ffffff;

// reduced hight contrast bg color
$layout-reduced-contrast-light: $layout-low-contrast-neutral-dark;
$layout-reduced-contrast-dark: $layout-low-contrast-neutral-light;

/* denotive */

// representing success
$denotive-success-light: #2c7d32; // has contrast ratio of 5+ with bg light
$denotive-success-dark: #68aa6d; // has contrast ratio of 5+ with bg dark

// representing failure
$denotive-failure-light: #bc3e21;
$denotive-failure-dark: #da9585;

// disabled state
$denotive-disabled-light: #767474;
$denotive-disabled-dark: #929090;

/* interactive */

// primary interactive based on blue from approved logo
$interactive-primary-2: #96bcce;
$interactive-primary-1: #78a9c0;
$interactive-primary: $brand-blue;
$interactive-primary--1: #4b7c93;
$interactive-primary--2: #3a6172;
