@import '../../styles/init.scss';

.social-media-icons {
	text-align: right;

	svg {
		display: inline-block;
		color: white;
		width: 1.618rem;
		height: 1.618rem;
	}

	a:hover svg {
		color: $brand-blue;
	}
}
