@import "../styles/init.scss";

.item {
    text-decoration: none;
    color: black;
    box-shadow: 0;

    @include z-depth-transition();

    &:hover {
        @include z-depth-transition();
        @include z-depth(8);
        text-decoration: none;
    }
}
