@import "../../styles/init.scss";

.slideContainer {
  @include hover-focus {
    .slideMeta {
      visibility: visible;
      animation: sliderIn 0.3s ease-in;
      @include z-depth(4);
      @include z-depth-transition();

      .slideVenue {
        animation: slideInRight 0.5s ease 0.3s;
        animation-fill-mode: forwards;
      }
    }

    .slideTag {
      background-color: $primary;
      transition: background-color 0.5s;
      animation-fill-mode: forwards;
    }

    .slideCover {
      transform: scale(1.05) translateX(-50%);
      transition: transform 0.5s;
    }

    .slideTitle {
      height: 170px;
      transition: all 0.5s;
    }
  }

  &:nth-child(2n) {
    .slideTitle {
      background-color: rgba($color: $brand-green, $alpha: 0.9);
    }

    .slideMeta {
      background-color: rgba($color: $brand-green, $alpha: 1);
    }

    @include hover-focus() {
      .slideTag {
        background-color: $brand-green;
      }
    }
  }
}

@keyframes sliderIn {
  from {
    opacity: 0.1;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.slide {
  overflow: hidden;
  height: 360px;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  transition: border-radius 0.8s;
  border-radius: 0;
  &:hover {
    text-decoration: none;
    border-radius: 1rem;
    transition: border-radius 0.8s;
  }
}

.slideCover {
  height: 100%;
  min-width: 100%;
  position: absolute;
  left: 50%;
  transform: scale(1) translateX(-50%);
  z-index: -1;
  transition: all 0.8s;
}

.slideTitle {
  padding: 1rem;
  background-color: rgba($color: $brand-blue, $alpha: 0.9);
  color: white;
  margin: 0;
  height: 140px;
  transition: all 0.5s;
  text-align: center;
}

.slideMeta {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba($color: $brand-blue, $alpha: 1);
  padding: 1rem;
  visibility: hidden;
}

.slideVenue {
  font-size: 0.8rem;
  color: white;
  transform: translateX(110%);
  display: block;
  // float: right;
  height: 1.25em;
  overflow: hidden;
}

.slideTag {
  transition: background-color 0.8s;
}

.slideTagContainer {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.1rem;
}

.slideIndicators {
  // bottom: -30px;
  li {
    background-color: #4e4e4e;
    opacity: 0.5;
  }

  :global {
    .active {
      background-color: $accent;
    }
  }
}
