@import '../../styles/init';

.hoverable-menu {

	@include media-breakpoint-up(md) {

		.dropdown-menu {
			top: 99%;
			margin: 0;

			&.closing {
				animation-duration: 0.5s;
				animation-name: dropdownInactive;
			}

			&.opened {
				animation-duration: 0.3s;
				animation-name: dropdownActive;
			}
		}

	}

	.dropdown-item {

		position: relative;

		&:before{
			@include caret-right();
			border-color: transparent;
			display: inline-block;
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}

		&:hover {
			&:before {
				border-left-color: $brand-blue;
			}
		}

	}

}

@keyframes dropdownInactive {
	from {
		transform: translateY(0);
		opacity: 1;
	}

	to {
		transform: translateY(1rem);
		opacity: 0;
	}
}

@keyframes dropdownActive {
	from {
		transform: translateY(1rem);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}
